*{
    margin:0;
    padding:0;
    background-color: rgb(36, 35, 35);
}
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Fredoka+One&family=Poppins:ital,wght@1,800&display=swap');

/*-----------------Nav bar starts-------------------------*/



.navbox{
    width: 95%;
    height: 85px;
    background-color: rgb(63, 61, 61);
    border: 2px transparent;
    border-radius: 17px;
  position: relative;
  left: 13px;
   margin:20px 20px 20px 20px;
}
.btn1{
    /* background: rgb(255, 36, 138); */
    background: rgb(63, 61, 61);
    font-size: 025px;
    border: 2px solid aqua;
    border-radius: 100px;
    padding: 5px 25px 5px 25px;
    position: relative;
    top: 20px;
    left: 745px;
    color:aqua;
    filter: drop-shadow(0px 0px 10px aqua);
}
.btn1:hover{
    background:aqua;
    color:black;
    transition: 0.5s;
    transform: scale(1.15);
    filter: drop-shadow(0px 0px 30px rgb(255, 255, 255));
    border: 2px solid rgb(255, 255, 255);
}
.btn2{
    /* background: rgb(255, 36, 138); */
    background: rgb(63, 61, 61);
    font-size: 025px;
    border: 2px solid aqua;
    border-radius: 100px;
    padding: 5px 25px 5px 25px;
    position: relative;
    top: 20px;
    left: 790px;
    color:aqua;
    filter: drop-shadow(0px 0px 10px aqua);
}
.btn2:hover{
    background: aqua;
    color:black;
    transform: scale(1.15);
    transition: 0.5s;
    filter: drop-shadow(0px 0px 30px rgb(255, 255, 255));
    border: 2px solid rgb(255, 255, 255);
}
.btn3{
    /* background: rgb(255, 36, 138); */
    background: rgb(63, 61, 61);
    font-size: 025px;
    border: 2px solid aqua;
    border-radius: 100px;
    padding: 5px 25px 5px 25px;
    position: relative;
    top: 20px;
    left: 830px;
    color:aqua;
    filter: drop-shadow(0px 0px 10px aqua);
}
.btn3:hover{
    background: aqua;
    color:rgb(0, 0, 0);
    transform: scale(1.15);
    transition: 0.5s;
    filter: drop-shadow(0px 0px 30px rgb(255, 255, 255));
    border: 2px solid rgb(255, 255, 255);
}
a{
    background: transparent;
}

/*-----------------Nav bar Ends-------------------------*/



/*-----------------Body Part 1 starts-------------------------*/
.box1{
    width: 470px;
    height: 430px;
    background: rgb(97, 97, 97);
    border: 2px transparent;
    border-radius: 45px;
    position: relative;
    left: 790px;
 bottom: 65px;
}
.img1{
    width:550px;
    background: transparent;
    position:relative;
   right: 35px;
    bottom: 50px;
    
}
.txt1{
    color:white;
    font-family:Poppins;
    position: relative;
  
    background: transparent;
    font-size: 70px;
    bottom: 460px;
    left: 100px;
}
.specialtext1{
    color: aqua ;
    filter: drop-shadow(0px 0px 10px aqua );
    background: transparent;
}

/*-----------------Body Part 1 ends-------------------------*/



/*------------------Auto Typing effect starts-------------------*/


.option{
    line-height: 90px;
    overflow: hidden;
    height: 90px;
    position: relative;
    top: 280px;
    background: transparent;
    left:310px;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;

}
.span{
    background: transparent;
}
.option li{
    list-style: none;
    color:aqua;
    font-size: 65px;
    position: relative;
    background: transparent;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
  
    background: transparent;
    font-size: 70px;
    font-weight: bolder;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}
@keyframes slide{
    100%{
        top: -360px;
    }
}
.option li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;

}
.option li span:after{
 content: '';
 position: absolute;
 left: 0;
 width: 100%;
 height: 100%;
 background: rgb(36, 35, 35);
border-left: 2px solid aqua;
animation: typing 3s steps(10) infinite;
}

@keyframes typing{
    40%, 60%{
        left: calc(100% + 30px);
    }
    100%
    {
        left: 0;
    }
}


/*------------------Auto Typing effect ends--------------------*/


.box2{
    width: 1220px;
    height:400px;
    background:white;
    border: 3px transparent;
    border-radius: 38px;
    position: relative;
    bottom: 260px;
    left: 50px;
    /* filter: drop-shadow(0px 0px 20px rgba(230, 230, 230, 0.541) ); */
}
.img2{
    position: relative;
    left:40px;
    top:10px;
}
.txt2{
    color: black;
    background:transparent;
   position: relative;
   bottom: 350px;
   left: 670px;
   font-family: Poppins;
   font-weight: bolder;
   font-size: 55px;
}
.specialtext2{
    background: transparent;
    color:aqua;
    font-size: 75px;
    position: relative;
    bottom: 20px;
    filter: drop-shadow(0px 0px 15px black );
}
.box3{
    width: 620px;
    height:510px;
    background:rgb(59, 59, 59);
    border: 3px transparent;
    border-radius: 25px;
    position: relative;
    bottom: 220px;
    left: 680px;
}
.txt3{
    color: rgb(136, 255, 255);
    background:transparent;
   position: relative;
    top: 20px;
    left: 25px;
   font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: bolder;
   font-size: 40px;
   text-decoration: underline;
   text-decoration-thickness: 2px;
   background: transparent;
}
.txt4{
    background: transparent;
    color: white;
    font-size: 30px;
    padding: 25px 25px 25px 25px;
    background: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box4{
    width: 600px;
    height:510px;
    background:rgb(59, 59, 59);
    border: 3px transparent;
    border-radius: 25px;
    position: relative;
   bottom:180px;
    left: 50px;
}
.txt5{
    color: rgb(136, 255, 255);
    background:transparent;
   position: relative;
    top: 20px;
    left: 25px;
   font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: bolder;
   font-size: 40px;
   text-decoration: underline;
   text-decoration-thickness: 2px;
   background: transparent;   
}

.txt6{
    
    background: transparent;
    color: white;
    font-size: 30px;
    padding: 25px 25px 25px 25px;
    background: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}
.img3{
    position: relative;
    bottom: 1220px;
    width: 650px;
    background: transparent;
}
.img4{
    width: 550px;
    position:absolute;
    background: transparent;
    left: 710px;
    top:1690px;
}
.box5{
    width: 1220px;
    height:400px;
    background:white;
    border: 3px transparent;
    border-radius: 38px;
    position: absolute;
   top: 2250px;
    left: 50px;
}
.img5{
    width: 350px;
    position: relative;
    left: 40px;
}
.img6{
    width: 350px;
    position: relative;
    left: 504px;
    bottom: 10px;
}
.txt7{
    background: transparent;
    position: relative;
    bottom: 375px;
    left: 430px;
    font-family: poppins;
    font-size: 60px;
}
.specialtext3{
    background: transparent;
    color: aqua;
    filter: drop-shadow(0px 0px 15px black );
}
.box6{
    width: 600px;
    height:500px;
    background:rgb(59, 59, 59);
    border: 3px transparent;
    border-radius: 25px;
    position: absolute;
   top: 2700px;
    left: 680px;
}
.txt8{
    color: rgb(136, 255, 255);
    background:transparent;
   position: relative;
    top: 20px;
    left: 25px;
   font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: bolder;
   font-size: 40px;
   text-decoration: underline;
   text-decoration-thickness: 2px;
   background: transparent;
}
.txt9,.txt11,.txt13,.txt15{
    background: transparent;
    color: white;
    font-size: 30px;
    padding: 25px 25px 25px 25px;
    background: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img7{
    position: relative;
    top: 460px;
    right: 550px;
    background: transparent;
    border:0px transparent;
    width: 450px;
}
.img8{
    width: 550px;
    position:absolute;
    right:740px;
    border:0px transparent;
  top:2620px;
    background: transparent;
}
.box7{
    width: 600px;
    height:535px;
    background:rgb(59, 59, 59);
    border: 3px transparent;
    border-radius: 25px;
    position: absolute;
  top: 3250px;
    left: 50px;
}
.txt10,.txt12,.txt14{
    color: rgb(136, 255, 255);
    background:transparent;
   position: relative;
    top: 20px;
    left: 25px;
   font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: bolder;
   font-size: 40px;
   text-decoration: underline;
   text-decoration-thickness: 2px;
   background: transparent;
}
.img9{
    width: 600px;
    position: relative;
    left: 700px;
   top:320px;
   background: transparent;
}
.box8{
    width: 600px;
    height:615px;
    background:rgb(59, 59, 59);
    border: 3px transparent;
    border-radius: 25px;
    position: absolute;
   top: 3820px;
   filter: drop-shadow(0px 0px 10px aqua );
    left: 680px;
}
.img10{
    width: 1100px;
    background: transparent;
    position: absolute;
    right: 418px;
   top:3600px;
}
.box9{
    width: 600px;
    height:685px;
    background:rgb(59, 59, 59);
    border: 3px solid aqua;
    filter: drop-shadow(0px 0px 10px aqua );
    border-radius: 25px;
    position: absolute;
  top: 4500px;
    left: 50px;   
}
.img11{
    position: relative;
    width: 650px;
    top:1650px;
    left: 70px;
    background: transparent;
}


/* ------------------------footer starts------------------------ */


.footer{
    background-color:  rgba(192, 192, 192, 0.966);
    width: 100%;
    height: 245px;
    position: absolute;
    top:5300px;
}
.fimg7{
    width: 250px;
    filter: drop-shadow(0px 0px 10px white);
    position: relative;
    top: 70px;
    left: 100px;
}

.ftext5{
    color: rgb(0, 0, 0);
    word-spacing: 185px;
    font-size: 21px;
    position: relative;
    bottom: 20px;
    background: transparent;
    left: 450px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fda{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    position: relative;
    font-size: 14px;
    background: transparent;
    left: 450px;
}
.fda2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    position: relative;
    font-size: 14px;
    background: transparent;
    left: 735px;
    bottom: 35px;
}
.linkedinLogo{
    width: 40px;
    position: relative;
    left: 1035px;
   bottom: 70px;
    background: rgb(255, 255, 255);
    border-radius: 100%;
    filter: drop-shadow(0px 0px 10px white);
}
.logo{
    width: 200px;
    position: relative;
    background: transparent;
    left: 50px;
    top:40px;
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}
.linkedinLogo:hover{
    transform: scale(1.5);
    transition: 0.5s;
}
.flastxt{
    position: absolute;
    top: 260px;
    color: white;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: center;
    font-size: 17px;
    font-family:'Times New Roman', Times, serif;
    filter: drop-shadow(0px 0px 10px rgb(0, 89, 255));
}
.box1,.box3,.box4,.box6,.box7{
    border: 3px solid aqua;
    filter: drop-shadow(0px 0px 10px aqua );
}